<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chunk</title>
</head>
<body>
<input id ="video-file" type="file" name ="file">
<button onclick="sendVideoChunks()">업로드</button>
<div id ="result"></div>
</body>

<script>
const sendVideoChunks = ()=>{
 const chunkSize = 1024*1024; //1MB
 const file = document.getElementById("video-file").files[0];// input태그에서 선택된 파일을 가져온다.
 const resultElement = document.getElementById("result"); // div id ="result가져온다.
 
 //total size계산 (소수점 이하 올림)
 const totalChunks = Math.ceil(file.size / chunkSize); 
 let currentChunk = 0;
 
 //chunk file전송 
 const sendNextChunk = ()=>{
	 const start = currentChunk * chunkSize;  // start=> 0
	 const end = Math.min(start + chunkSize , file.size); // end =>1MB
	 
	 const chunk = file.slice(start,end); //파일을 0~1MB잘라서 chunk에 할당
	 
	 //form data 형식으로 전송
	 const formData = new FormData(); 
	 formData.append("chunk", chunk, file.name);//key: chunk ,value:실제 청크 데이터,파일이름
	 formData.append("chunkNumber", currnetChunk); // 현재 청크 번호 
	 formData.append("totalChunks", totalChunks); // 전체 청크 수 (용량)
	 
	 fetch("/chunk/upload", {
		 method: "POST",
		 body: formData
	 }).then(resp =>{
		 //전송 결과가 206이면 다음 파일 조각 전송 
		 if(resp.status === 206){
			 //진행률 표시
			 resultElement.textContent = Math.round(currentChunk / totalChunk * 100) + "%"
			 currentChunk++;
			 if(currentChunk < totalChunks){ //현재 청크가 토탈청크보다 작으면 (아직 모든청크파일이 전송 X)
				 sendNextChunk(); //sendNextChunk()실행 
			 }
			 //마지막 파일 까지 전송되면
		 }else if(resp.status ===200){
			 resp.text().then(data => resultElement.textContent = data); //컨트롤러에서 반환받은 응답을 resultElement요소에 반환
		 }
	 }).catch(err=>{
		 console.error("Error");
	 });
 };
 	sendNextChunk();
 }
 
</script>
</html>